<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.vyarotsky.alfred.github</string>
	<key>connections</key>
	<dict>
		<key>52FE805D-D697-4340-9AED-8D814FD29BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CCE9F84-C8EE-426A-AE2D-AEA27D4AD701</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D2ADC117-C4D9-42E7-B30F-D5F879F2F1A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96B50C32-4192-4E26-9AEF-FF39BD1ED312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vladimir Yarotsky</string>
	<key>description</key>
	<string>Will help you find your repo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9CCE9F84-C8EE-426A-AE2D-AEA27D4AD701</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>64</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>runningsubtext</key>
				<string>Loading repos...</string>
				<key>script</key>
				<string>python github.py --lazy '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52FE805D-D697-4340-9AED-8D814FD29BC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>. ~/.zshrc
python github.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96B50C32-4192-4E26-9AEF-FF39BD1ED312</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghreload</string>
				<key>text</key>
				<string>Reload cached github repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2ADC117-C4D9-42E7-B30F-D5F879F2F1A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>52FE805D-D697-4340-9AED-8D814FD29BC5</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>96B50C32-4192-4E26-9AEF-FF39BD1ED312</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9CCE9F84-C8EE-426A-AE2D-AEA27D4AD701</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D2ADC117-C4D9-42E7-B30F-D5F879F2F1A9</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
